<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>hiphopclass-app</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>

</head>

<body>

  <h1> Hi, this is a classical-to-hip-hop track Recommender </h1>
  <h3> You can start getting hip hop playlist recommendations by adding your classical piece's trackId from Spotify in the following URL:<br><br>
  http://35.198.186.156/api/recommend?track_id='your_classical_track_Id_here'&popularity_threshold=0.9&playlist_len=10</h3>
  <p> popularity_threshold: how popular you want your results to be (0 to 1)<br> playlist_len: the no. of the returned tracks</p>


</body>
</html>
